<ion-header>
  <ion-navbar>
    <ion-title>
      About Compton Green Express
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="tutorial-page">

  <ion-slides pager>
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.image" class="slide-image"/>
      <img [src]="slide.imageAnt" class="slide-image img-ant"/>
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
    </ion-slide>
  </ion-slides>
</ion-content>