<ion-tabs>
  <ion-tab [root]="RequestPickupPageRoot" tabTitle="Request" tabIcon="home"></ion-tab>
  <ion-tab [root]="HomePageRoot" tabTitle="Track" tabIcon="cube"></ion-tab>
  <ion-tab [root]="ContactPageRoot" tabTitle="Feed" tabIcon="md-list-box"></ion-tab>
</ion-tabs>
