<ion-header>
  <ion-navbar>
    <ion-title>
      Update Stream
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12 class="social-feed-container">

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
