<ion-header>

  <ion-navbar>
    <ion-title>Track a Package</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
<ion-grid>
  <ion-row col-12>
    <ion-list style="width: 100%">
      <ion-item>
        <ion-label floating style="align-self: start">
          Enter tracking number
        </ion-label>
        <ion-input  type="number" [(ngModel)]="trackingNo" name="tracking_number">

        </ion-input>
      </ion-item>
      <ion-item>
      </ion-item>
    </ion-list>
    <button ion-button round style="
      position: relative;
      margin: 0 auto;    
      top: -35px
    " (click)="trackPackage()">
      Go&nbsp;
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </ion-row>

  <ion-row col-12  *ngIf="package.tracking_number">
    <ion-list inset>
      <ion-item>
        <h2>Delivery Status</h2>
        <p>{{package.delivery_status || 'Not Available'}}</p>
      </ion-item>      
      <ion-item>
        <h2>Senders Name</h2>
        <p>{{package.senders_name}}</p>
      </ion-item>      
      <ion-item>
        <h2>Origin</h2>
        <p>{{package.pickup_location}}</p>
      </ion-item>      
      <ion-item>
        <h2>Receiver Name</h2>
        <p>{{package.receiver_name}}</p>
      </ion-item>      
      <ion-item>
        <h2>Destination</h2>
        <p>{{package.receivers_destination_address}}</p>
      </ion-item>      
      <ion-item>
        <h2>Contact Person</h2>
        <p>{{package.contact_number_person}}</p>
      </ion-item>      
      <ion-item>
        <h2>Description</h2>
        <p>{{package.item_description}}</p>
      </ion-item>      
    </ion-list>
  </ion-row>

</ion-grid>

</ion-content>
