page-home {
    green-ball div{
        background-color: green;
        width: 400px;
        position: absolute;
        top: -240px;
        height: 400px;
        z-index: -1;
        border-radius: 200px;
        left: 50%;
        margin-left: -200px;     
    }
    .label-md[stacked],
    .label-md[floating] {
        margin-top: 0;
    }
}
