<!--
  Generated template for the HistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Pick up and Tracking</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p style="text-align:center">
          <img src="./assets/images/package.png" alt="" class="help-img">
        </p>
        <p class="primary-text" style="margin-bottom:0 ">There is nothing in your package tracking history. </p>
        <p class="secondary-text" style="margin-top:0 "><small>You can see a history of packages you have tracked here.</small></p>
        <p style="text-align: center">
          <button ion-button round outline (click)="gotoPickUp()">
            <ion-icon name="add"></ion-icon>
            &nbsp;Request a Pickup
          </button>
          
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>  
        <ion-list>
            <ion-item *ngFor="let job of packages">{{job.tracking_number}}</ion-item>
        </ion-list>      
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
