page-history {
    .grid {
        justify-content: center;
        align-items: center;
        height: 100%;     
    }
    .row {
        align-self:center;
    }
    .primary-text{
        color: $primary-text-color;
        font-weight: 600;
    }
    .secondary-text {
        color: $secondary-text-color
    }
    .help-img {
        width: 128px;
    }

}
