<!--
  Generated template for the RequestPickupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Request a Pickup</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form (ngSubmit)="createRequest()">
      <!-- My Info-->
      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input type="text" [(ngModel)]="formRequest.email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Senders Name</ion-label>
        <ion-input type="text" [(ngModel)]="formRequest.senders_name" name="senders_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Pickup Address</ion-label>
        <ion-textarea [(ngModel)]="formRequest.pickup_location" name="pickup_location"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label stacked>Senders Phone</ion-label>
        <ion-input type="number" [(ngModel)]="formRequest.senders_phone" name="senders_phone"></ion-input>
      </ion-item>      
      <ion-item>
        <ion-label stacked>Item description</ion-label>
        <ion-textarea [(ngModel)]="formRequest.item_description" name="item_description"></ion-textarea>
      </ion-item>

      <!--Recievers-->
      <ion-item>
        <ion-label stacked>Receiver's Name</ion-label>
        <ion-input type="text" [(ngModel)]="formRequest.receiver_name" name="receiver_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Delivery Address</ion-label>
        <ion-textarea [(ngModel)]="formRequest.receivers_destination_address" name="receivers_destination_address"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label stacked>Receiver's Phone</ion-label>
        <ion-input [(ngModel)]="formRequest.contact_number_person" name="contact_number_person" type="number"></ion-input>
      </ion-item>

      <!-- Other info-->
      <ion-item>
        <ion-label stacked>Special Request</ion-label>
        <ion-textarea [(ngModel)]="formRequest.special_request" name="special_request"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label stacked>Pickup Time</ion-label>
        <ion-datetime  name="pickup_time" displayFormat="MM/DD/YYYY" [(ngModel)]="formRequest.pickup_time" ></ion-datetime>
      </ion-item>


      <button ion-button type="submit" block>Send request</button>
    </form>
</ion-content>
